body{
	font-family: 'Arvo', serif;
	background: url('img/bg.png') repeat;
}

h1{
	color: #888;
	text-align: center;
	font-size: 58;
	margin: 50px;
	text-transform: uppercase;
}

hr{
	width: 70%;
	color: #BBB;
	margin-bottom: 50;
}

#sites{
	margin-left: 10%;
	margin-right: 10%;
	display: inline-block;
}

.site{
	width: 260px;
	height: 150px;
	display: inline-block;
	margin: 10 17 60 17;
}

.image{
	position: relative;
	width: 100%;
	height: 90%;
	border: 2px solid #DDD;
	border-radius: 6px;
	text-align: center;
	background-color: inherit;
}

.image img{
	height: 70%;
	margin: 20;
}

.titre{
	text-align: center;
	color: #777;
	font-size: 20;
}
